<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/" title="Главная страница"><img src="/static/img/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu">
                <li><a href="/contacts/">Контакты</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/">Главная страница</a></li>
            </ul>
        </div>
        <div class="catalog">
            <h3 class="h_teapot">Каталог чайников в&nbsp;интернет магазине</h3><br>
            <ul class="main_catalog">
                <li><a href="/catalog/teapot1.html"> <img src="/static/img/1.jpg" alt="Чайник№1" width="100" height="100"></a></li>
                <li><a href="/catalog/teapot2.html"> <img src="/static/img/2.jpg" alt="Чайник№2" width="100" height="100"></a></li>
                <li><a href="/catalog/teapot1.html">Чайник&#8470;&nbsp;1</a></li>
                <li><a href="/catalog/teapot2.html">Чайник&#8470;&nbsp;2</a></li>
            </ul>

        </div>
        <div class="footer">
            <p class="p_footer">All rigth reserved &copy <a href="http://darksh3ll.ru" target="_blank" class="portal">Portal Student</a></p>

        </div>
    </div>
</body>

</html>
