<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Интернет магазин чайников</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/" title="Главная страница"><img src="/static/img/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu">
                <li><a href="/contacts/">Контакты</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/">Главная страница</a></li>
            </ul>
        </div>
        <div class="main_text">
            <h3 class="h_teapot">Интернет Магазин Чайников</h3>
            <p class="title_magazine">Вы&nbsp;находитесь в&nbsp;интернет магазине чайников</p>
            <p class="title_magazine">Добро пожаловать в&nbsp;интернет магазин чайников</p>
            <hr>
        </div>
        <div class="footer">
            <p class="p_footer">All rigth reserved &copy <a href="http://darksh3ll.ru" target="_blank" class="portal">Portal Student</a></p>
        </div>
    </div>
</body>

</html>
