<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/" title="Главная страница"><img src="/static/img/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu">
                <li><a href="/contacts/">Контакты</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/">Главная страница</a></li>
            </ul>
        </div>
        <h1>Регистрация</h1>
        <form action="#">
            Ваше имя: <input type="text" placeholder="Ваше имя"><br>
            Пароль: <input type="password" placeholder="Ваш пароль"><br>
            Ваш пол<br>
            М <input type="radio" name="pol"><br>
            Ж <input type="radio" name="pol"><br>
            Ваши увлечения:<br>
            <input type="checkbox">Музыка<br>
            <input type="checkbox">Спорт<br>
            <input type="checkbox">ИТ<br>
            <input type="checkbox">Рисование<br>
            <input type="submit" value="Зарегистрироваться"> <input type="reset" value="Очистить введенные данные">
        </form>
        <hr>

        <div class="footer">
            <p class="p_footer">All rigth reserved &copy <a href="http://darksh3ll.ru" target="_blank" class="portal">Portal Student</a></p>
        </div>
    </div>
</body>

</html>
